In [1]:
import pandas as pd
import requests

In [2]:
response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=610295346657f59abd2cd158fff9ae98&language=en-US&page=1')

In [3]:
df=pd.DataFrame(response.json()['results'])[
    ['id','title','overview','release_date','popularity','vote_average','vote_count']
]

In [4]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,33.0609,8.714,29408
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,31.0195,8.685,22196
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,16.4137,8.571,13419
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,14.9015,8.565,16938
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,11.0014,8.549,9607

In [5]:
df=pd.DataFrame()

In [6]:
df

Empty DataFrame
Columns: []
Index: []

In [10]:


for i in range(1, 429):
    response = requests.get(
        'https://api.themoviedb.org/3/movie/top_rated?api_key=610295346657f59abd2cd158fff9ae98&language=en-US&page={}'.format(i)
    )
    
    temp_df = pd.DataFrame(response.json()['results'])[
        ['id','title','overview','release_date','popularity','vote_average','vote_count']
    ]
    df = pd.concat([df, temp_df], ignore_index=True)

print(df.shape)

(8560, 7)

In [11]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,33.0609,8.714,29408
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,31.0195,8.685,22196
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,16.4137,8.571,13419
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,14.9015,8.565,16938
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,11.0014,8.549,9607
...,...,...,...,...,...,...,...
8555,168055,Love Is in the Air,Antoine is a lawyer living in New York. On his...,2013-04-02,5.1812,5.955,429
8556,37821,Killers,When an elite assassin marries a beautiful com...,2010-06-04,6.4415,5.955,2273
8557,12245,The Oxford Murders,"At Oxford University, a professor and a grad s...",2008-01-18,1.4973,5.955,684
8558,257440,Term Life,"If Nick Barrow can stay alive for 21 days, he'...",2016-04-29,2.2903,5.954,318
8559,97051,Would You Rather,"Desperate to help her ailing brother, a young ...",2013-02-08,1.6043,5.954,985

In [12]:
df.shape

(8560, 7)

In [13]:
df.to_csv('movies.csv')